.react-calendar-heatmap .color-empty {
  fill: #ebedf0;
}
.react-calendar-heatmap .color-filled-1 {
  fill: #9be9a8;
}
.react-calendar-heatmap .color-filled-2 {
  fill: #40c463;
}
.react-calendar-heatmap .color-filled-3 {
  fill: #30a14e;
}
.react-calendar-heatmap .color-filled-4 {
  fill: #216e39;
}

 .react-calendar-heatmap {
  width: 100%;
  height: auto;
 }

 .react-calendar-heatmap text {
  fill: #94a3b8;
  font-size: 9px;
 }

 .react-calendar-heatmap rect {
  rx: 2.5px;
  ry: 2.5px;
 }
